@charset "utf-8";
/* CSS Document */
#header-padding{
	background: #000;
}

#exp_ban {
	width:100%;
	height:400px;
	background:url(../img/ban00.jpg) no-repeat center/cover;	
}

#explanation {
	width:100%;
	height:auto;
	max-width:1000px;
	margin:0 auto;	
	padding:10px;
	box-sizing:border-box;
}

#explanation>h1 {
	width:100%;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	padding:50px 0;
}

#explanation>hr {
	width:50px;
	border:2px solid #000;
	margin:0 auto 50px;
}

#explanation>p {
	text-align:center;
	line-height:40px;
	margin-bottom:50px;	
}

#explanation>ul {
	width:auto;
	height:auto;
	display:inline-block;
	position:relative;
	left:50%;
	transform:translateX(-50%);
	margin-bottom:50px;
}

#explanation>ul li {
	width:auto;
	height:auto;
	margin-right:50px;
	text-align:center;
	float: left;
}

#explanation>ul li:last-child {
	margin-right:0;
}

#explanation>ul li>p {
	text-align:center;
	font:bold 20px Nanum;
	line-height: 50px;
}

#explanation>ul li i {
	position:relative;
	left:50%;
	transform:translateX(-50%);
	width:150px;	
}

@MEDIA only screen and (max-width:768px) {
	#explanation>ul {width:150px;}
	#explanation>ul li {margin-right:0;}
}