@CHARSET "UTF-8";
.presidentDiv{
	min-height:500px !important;
}

.presidentMemberH4{
	line-height: 35px !important;
}

.firstDiv{
	min-height: 400px;
	background-color: #fff;
	margin:5px;
}

.secondDiv{
	min-height: 400px;
	background-color: #ecf0f1;
	margin:5px;
	bottom:30px;
}

.secondRow{
	padding: 30px !important;
}

.customGroup{
	background-color: #1abc9c !important;
	color: #fff;
	height: 80px !important;
	line-height: 80px !important;
	font-size:20px !important;
}

.TFbtnRow{
	margin-top: 5%;
}

.top_bar_fix{
	position: fixed;
	z-index:999;
	top:0; left:0; width:100%; opacity:0.6 !important;
}

.pd_top_80{
	padding-top:80px;
}

.listDiv{margin-top:5%;}