@charset "utf-8";
/* CSS Document */

#footer {
   position:relative;
   width:100%;
   height:150px;
   background-color:#333;   
}

#footer ul{
	position:relative;
	display:inline-block;
	margin: 20px 0 0 0;
	color:#eee;
    font:14px/30px Nanum;
}
#footer ul li{
	float: left;
	margin: 0 25px;
	padding:0;
}

#footer ul li:hover{
	cursor: pointer;
}

#footer p {
   position:relative;
   width:100%;
   text-align:center;
   color:#ccc;
   font:14px/30px Nanum;   
}