<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.or.com.debate.debateDAO">
	
	<!-- 리스트 가져오는 것 -->
	<select id="listdebateDTO" resultType="kr.or.com.debate.debateDTO">
		select choose, nickName, title, writeDate
		from debate
		where Debateword = #{keyword}
	</select>
	
	<!-- 키워드 가져옴 -->
	<select id="selectKeyWord" resultType="String">
		select admin_debate_debateword from adminDebate a where a.no=(select max(no) from adminDebate b)
	</select>
		
	<insert id="debateWrite" parameterType="kr.or.com.debate.debateDTO">
		insert into debate(debateNo,debateWord,choose,nickName,title,content,viewCount,writeDate) values(debateNo.nextval, #{debateWord}, #{choose},#{nickName},#{title},#{content},0, sysdate)
	</insert>
	
	<select id="selectDetail" parameterType="Integer" resultType="kr.or.com.debate.debateDTO">
		select * from debate where debateNo = #{no}
	</select>
	
	<!-- 비디오 링크 -->
	<select id="videosrc" resultType="kr.or.com.debate.admin_DebateDTO">
	  select firstvideo, secondvideo, admin_debate_debateword from admindebate a where a.no=(select max(no) from admindebate b)
	</select>
	
	<select id="detaillist" resultType="kr.or.com.debate.debateDTO">
		select d.debateNo, d.Debateword, d.choose, d.nickName, d.title, d.content, d.viewcount, d.writeDate 
		from debate d join adminDebate a
		on d.Debateword = a.admin_debate_debateword and A.Admin_Debate_Debateword = #{keyWord}
	</select>
	
	
</mapper>