<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.or.com.FreeBoard.FreeBoardDAO">

	<!-- 페이징된 리스트 뽑기 -->
	<select id="selectAllFreeBoard" resultType="kr.or.com.FreeBoard.FreeBoardDTO">
		select no, category, title, content, writer, id, to_char(regdate+1,'YYYYMMDDHH24MI') as regdatePO, to_char(regdate,'YYYY/MM/DD HH24:MI') as regdate, filename, good, viewcnt , img
		from (select rownum rn, no, category, title, content, writer, id, regdate, filename, good, viewcnt , img
   			from (select no, category, title, content, writer, id, regdate, filename, good, viewcnt , img
          		  from tbl_board
          		  where ${param1} like '%${param2}%'
          		  and category = '${param3}'
          		  order by no desc)
            order by rn)
        where rn between #{param4} and #{param5}
	</select>
	
	<!-- 최신글에서  -> 나중에 베스트 리스트 뽑기 -->
	<select id="selectBestBoard" resultType="kr.or.com.FreeBoard.FreeBoardDTO">
		select no, category, title, content, writer, id, to_char(regdate+1,'YYYYMMDDHH24MI') as regdatePO, to_char(regdate,'YYYY/MM/DD HH24:MI') as regdate, filename, good, viewcnt, img
		from (select rownum rn, no, category, title, content, writer, id, regdate, filename, good, viewcnt, img
		      from tbl_board
		      where category = '${param1}'
		      order by no desc)
		where rownum &lt;= ${param2}
	</select>
	
	<!-- 최신글에서  -> 나중에 베스트 리스트 뽑기 -->
	<select id="bestLife" resultType="kr.or.com.FreeBoard.FreeBoardDTO">
		select no, category, title, content, writer, id, to_char(regdate+1,'YYYYMMDDHH24MI') as regdatePO, to_char(regdate,'YYYY/MM/DD HH24:MI') as regdate, filename, good, viewcnt, img
		from (select rownum rn, no, category, title, content, writer, id, regdate, filename, good, viewcnt , img
		      from tbl_board
		      where category in ('일상','영상','고민','연예')
		      order by no desc)
		where rn between #{param1} and #{param2}
	</select>
	
	<!-- 총게시글수 -->
	<select id="boardCount" resultType="int">
		select count(*) from tbl_board
		where ${param1} like '%${param2}%'
		and category = '${param3}' 
	</select>
	
	<select id="lifeBoardCount" resultType="int">
		select count(*) from tbl_board
		where ${param1} like '%${param2}%'
		and category in ('일상','영상','고민','연예') 
	</select>
	
	<!-- 글쓰기 -->
	 <insert id="FreeBoardWrite" parameterType="kr.or.com.FreeBoard.FreeBoardDTO">
		insert into tbl_board(no, category, title, content, writer, id, regdate, filename, filepath, good, viewcnt) 
		values(board_seq.nextval, #{category} ,#{title}, #{content}, #{writer}, #{id}, sysdate, #{filename}, #{filepath}, 0, 0)
	 </insert>

	<!--상세보기-->
	 <select id="FreeBoardDetail" resultType="kr.or.com.FreeBoard.FreeBoardDTO">
	 	select no, category, title, content, writer, id, to_char(regdate+1,'YYYYMMDDHH24MI') as regdatePO, to_char(regdate,'YYYY/MM/DD HH24:MI') as regdate, viewcnt, filename, filepath 
	 	from tbl_board
	 	where no = #{param1}
	 </select>
	 
	 <!-- 글 삭제 -->
	 <delete id="deleteContent" parameterType="int">
	 	delete from tbl_board where no = #{param1}
	 </delete>

	<!--글 수정-->
	<update id="updateContent" parameterType="kr.or.com.FreeBoard.FreeBoardDTO">
	    update tbl_board 
	    set title =  #{title}, content = #{content}, filename = #{filename}, filepath = #{filepath}
	    where no = #{no}
	</update>
	
	<!--조회수-->
	<update id="updateCnt" parameterType="int">
	    update tbl_board set viewcnt = NVL(viewcnt, 0) + 1 
	    where no = #{param1}
	</update>

	<!-- 대댓글 list 뽑기 -->
	<select id="commentList" resultType="kr.or.com.FreeBoard.CommentDTO">
		select no, co_no, content, writer, id, to_char(regdate,'YYYY/MM/DD HH24:MI') as regdate, good, bed, grpno, depth, grporder
        from tbl_comment
        where no = #{param1}
        and depth = 1
        order by grpno, co_no asc
	</select>
	
	<!-- 댓글 뽑기 -->
	<select id="selectComment" resultType="kr.or.com.FreeBoard.CommentDTO">
		select no, co_no, content, writer, id, to_char(regdate,'YYYY/MM/DD HH24:MI') as regdate, good, bed, grpno, depth, grporder
        from tbl_comment
        where no = #{param1}
        and depth = 0
        order by grpno, co_no asc
	</select>
	
	<!-- 댓글 쓰기 -->
	 <insert id="writeComment" parameterType="kr.or.com.FreeBoard.CommentDTO">
		insert into tbl_comment(no, co_no, content, writer, id, regdate, good, bed, grpno, depth, grporder) 
		values(#{no}, comment_seq.nextval, #{content}, #{writer}, #{id}, sysdate, 0, 0, comment_seq.currval, #{depth}, 0)
	 </insert>
	 
	<!-- 대댓글 쓰기 -->
	 <insert id="writeCommentn" parameterType="kr.or.com.FreeBoard.CommentDTO">
		insert into tbl_comment(no, co_no, content, writer, id, regdate, good, bed, grpno, depth, grporder) 
		values(#{no}, comment_seq.nextval, #{content}, #{writer}, #{id}, sysdate, 0, 0, #{grpno}, #{depth}, 0)
	 </insert>
	 
	  <!-- 댓글 삭제 -->
	 <delete id="deleteComment" parameterType="int">
	 	delete from tbl_comment where co_no = #{param1}
	 </delete>
	 
	  <!-- 댓글 삭제 -->
	 <delete id="deleteAllComment" parameterType="int">
	 	delete from tbl_comment where grpno = #{param1}
	 </delete>
	 
	 <!--댓글 수정-->
	<update id="updateComment" parameterType="kr.or.com.FreeBoard.CommentDTO">
	    update tbl_comment set content = #{content} 
	    where co_no = #{co_no}
	</update>
	
	<!--관심사 뽑기-->
	<select id="selectFavorit" resultType="String">
		select favorit from member where id=#{id}
	</select>

	<!-- 블로거 정보 -->
	<select id="selectBloger" resultType="kr.or.com.blog.BlogList_DTO">
		select bloger_id, bloger_img, bloger_mainUrl, rownum from tbl_bloger order by rownum desc
	</select>
	
</mapper>	 
 