@charset "utf-8";
/* CSS Document */

/* 최신글 5개 목록 */

.boardBox{
	position:relative;
	padding: 15px;
	min-height: 250px;
}

.boardBox ul{
	padding: 5px 10px 5px 0;

}
.boardBox ul li{
	font-size:17px;
	padding-bottom:2px;
}

.boardBox hr{
	margin: 3px 0 3px 0;
    border: 1px solid black;
}
.boardBox .top{
	font-size:16px;
}
.boardBox .more{
	position: absolute;
	right: 10px;
	color:#333;
	text-decoration: none;
}
.boardBox ul li {
	position: relative;
	font-size:15px;
}
.boardBox ul li .rank{
	display: inline-block;
	overflow: hidden;
	padding-right: 10px;
}
.boardBox ul li .title{
	display: inline-block;
	width: 77%;
	/* word-break:break-all;
	word-wrap:break-word; */
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	cursor: pointer;
}
.boardBox ul li .num{
	display: inline-block;
	overflow: hidden;
	color: #e9281d;
}
.boardBox ul li .new{
	display: inline-block;
	position: absolute;
	margin-top: 4px;
	margin-left: 2px;
}

.breadcrumb{
	background: inherit;
	font-size:17px; maring-left:10px;
}

/* 리스트 */
.list{
	position: relative;
	height:100px;
	padding:10px 0 10px 30px;
	margin:5px 0;
	border-top:1px solid black;
}

.content .head{
	margin-bottom: 20px;
}
.content .head .title{
	font-weight: bold;
	display: inline-block;
}
.content .head .btn{
	position: absolute;
	right: 0px;
	margin-top:20px;
}

.content .list > .img{
	display: block;
	cursor: pointer;
	width: 80px;
	height: 80px;
}

.content .list > .title{
	display: block;
    position: absolute;
    top: 30px;
    left: 140px;
    width: 50%;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	cursor: pointer;
}
.content .list > .wt{
	display: block;
    position: absolute;
    top: 60px;
    left: 140px;
}
.content .list .wt li{
	float:left;
    padding-right: 10px;
}
.content .list > .gb{
	display: block;
    position: absolute;
    top: 60px;
    right: 50px;
}

.content .list > .gb> li{
	float: left;
	padding-right: 20px;
}

#board_page{
	display: inline-block;
}

.customWell{
	background-color: #fff !important;
	border: 4px solid #ecf0f1 !important;
}

#lifePtitleTag{
	display: inline-block !important; 
	border-top:2px solid !important; 
	border-bottom: 2px solid; 
	font-size: 32px !important;  
	margin-top:2% !important;
}
#lifePsecondTag{
	margin-top: 2% !important;
}

#lifeJdiv{
	height: 200px;
}

@media only screen and (max-width:768px) {
	#lifeJdiv{
		height: 180px;
	}
	#lifePsecondTag{
	margin-top: 5% !important;
	}
	
	.content .list > .gb{
		right: 0;
	}
}

@media only screen and (max-width:414px) {
	#lifeJdiv > p{
		font-size: 13px;
	}
	
	.list{
		padding:0 !important;
	}
	.content .list .img{
		padding:10px !important;
	}
	.content .list .title{
		top: 20px !important;
		left: 110px !important;
	}
	.content .list .wt{
		top: 43px !important;
		left: 110px !important;
	}
	.content .list > .gb{
		top: 66px !important;
		left: 110px !important;
	}
}
